
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
<div>
    @*<form action="https://pret-dl.currenex.com/webservice/request/TradesService" method="post">
        <input type="text" value="DGMFXT008"/>
        <input type="password" value="zhangjie6100"/>
        <input type="submit" value="提交"/>
    </form>*@
</div>
</body>
</html>
