<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mr.Box.DGM.Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mr.Box.DGM.Dal.Properties.Settings>
            <setting name="Mr_Box_DGM_Dal_com_dgmfx_ws_common_WS_Common"
                serializeAs="String">
                <value>http://ws.dgmfx.com:88/ws_common.asmx</value>
            </setting>
            <setting name="Mr_Box_DGM_Dal_com_dgmfx_ws_mysql_WS_MYSQL" serializeAs="String">
                <value>http://ws.dgmfx.com:88/ws_mysql.asmx</value>
            </setting>
        </Mr.Box.DGM.Dal.Properties.Settings>
    </applicationSettings>
</configuration>